h1{/*
    border-width: 2px;
    border-color: blueviolet;
    border-style: solid;*/

    /*shorthand Property*/
    border: 2px solid blueviolet;
    
    /*border-top: 20px dashed blue;*/
    /*border-bottom: 20px dotted blue;*/

    /*border-radius: 10px;*/

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

span{
    border-width: 2px;
    border-color: blueviolet;
    border-style: solid;
}